@if (loading) {
  <div class="clr-row margin-2">
    <div class="clr-col-12 align-center">
      <div>
        <clr-spinner clrInline>Loading</clr-spinner>
        <span>Loading</span>
      </div>
    </div>
  </div>
} @else {
  @if (hasError) {
    <clr-alert [clrAlertType]="'warning'">
      <clr-alert-item>
        <span class="alert-text align-center">{{ errorMessage }}</span>
      </clr-alert-item>
    </clr-alert>
  } @else {
    <div class="clr-row margin-1">
      <div class="clr-col-12">
        <clr-progress-bar style="height: 50%" [clrValue]="questionIndex" [clrMax]="questions.length"></clr-progress-bar>
      </div>
    </div>
    @if (questionIndex === questions.length) {
      <app-result [correctAnswersCount]="correctAnswersCount"></app-result>
    } @else {
      <app-question [question]="questions[questionIndex]" (onNextQuestion)="nextQuestion($event)"></app-question>
    }
  }
}
