<!--<p>question works! {{ question.id }}</p>-->

<!--<mat-card class="card">-->
<!--  <div *ngIf="loading">-->
<!--    <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--  </div>-->
<!--  <mat-card-header>-->
<!--    {{ question.question }}-->
<!--    &lt;!&ndash;  <mat-card-title>{{ question.question }}</mat-card-title>&ndash;&gt;-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    <div *ngIf="!multiple">-->
<!--      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"-->
<!--                       [(ngModel)]="selections">-->
<!--        <div *ngFor="let answer of question.answers | keyvalue">-->
<!--          <mat-radio-button *ngIf="answer.value != null" [value]="answer.key">{{ answer.value }}</mat-radio-button>-->
<!--        </div>-->
<!--      </mat-radio-group>-->
<!--    </div>-->
<!--    <div *ngIf="multiple">-->
<!--      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="selections">-->
<!--        <div *ngFor="let answer of question.answers | keyvalue">-->
<!--          <mat-checkbox *ngIf="answer.value != null" [value]="answer.key">{{ answer.value }}</mat-checkbox>-->
<!--        </div>-->
<!--      </mat-radio-group>-->
<!--    </div>-->

<!--    <div class="flex-container">-->
<!--      <button mat-raised-button color="primary" (click)="submit()">Submit</button>-->
<!--    </div>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
<div class="clr-row margin-1">
  <div class="clr-col-12 align-center">
    <span cds-text="message">{{ question.question }}</span>
  </div>
</div>
<div class="clr-row margin-2">
  @for (answer of question.answers | keyvalue; track answer) {
    @if (!question.multiple_correct_answers) {
      @if (answer.value != null) {
        <div class="clr-col-12">
          <button class="btn btn-block"
                  [class.btn-success]="submitted && answer.key === this.selected && answer.key === this.question.correct_answer"
                  [class.btn-danger]="submitted && answer.key === this.selected && answer.key !== this.question.correct_answer"
                  [disabled]="submitted && answer.key !== selected"
                  (click)="submitAnswer(answer.key)">{{ answer.value }}
          </button>
        </div>
      }
    }
  }
</div>
