<clr-main-container>
  <clr-header class="clr-justify-content-center" style="background: hsl(198, 100%, 59%);">
    <span cds-text="display" class="span-vertical-center"><cds-icon shape="code" size="xxl"></cds-icon>TechQuiz</span>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <div class="wrapper">
        @if (loading) {
          <div>
            <clr-spinner clrInline>Loading</clr-spinner>
            <span>Loading</span>
          </div>
        }
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</clr-main-container>
